@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Space Grotesk", serif;
  font-size: 18px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  cursor: pointer;
}
button:focus, button:focus-visible, button:active {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.card {
  position: relative;
  width: 100%;
  height: 260px;
}

.card-front {
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("../images/bg-card-front.png");
  background-repeat: no-repeat;
  z-index: 2;
  height: 160px;
  width: 100%;
  max-width: 330px;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  border-radius: 0.75rem;
}
.card-front__logo {
  grid-column: span 2;
  align-self: self-start;
  height: 35px;
}
.card-front__card-num {
  grid-column: span 2;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}
.card-front__card-name {
  grid-column: 1;
  font-weight: 300;
  text-align: left;
  font-size: 0.9rem;
}
.card-front__card-date {
  grid-column: 2;
  text-align: end;
  font-size: 0.9rem;
  font-weight: 300;
}

.card-back {
  position: absolute;
  height: 150px;
  width: 100%;
  max-width: 330px;
  top: 1rem;
  right: -4.5rem;
  background-image: url("../images/bg-card-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.75rem;
}
.card-back__cvc {
  position: absolute;
  color: hsl(0, 0%, 100%);
  z-index: 3;
  margin-top: 1.3rem;
  margin-left: 12rem;
}

@media (min-width: 1020px) {
  .card {
    height: 100%;
    max-width: 620px;
  }
  .card-front {
    left: 10rem;
    top: 12rem;
    max-width: 330px;
  }
  .card-back {
    top: 25rem;
    left: 14rem;
    background-size: cover;
  }
  .card-back__cvc {
    top: 3.7rem;
    right: 2.5rem;
  }
  .card-front, .card-back {
    height: 180px;
    width: 100%;
  }
}
.form {
  position: relative;
  margin-top: 2.2rem;
  font-size: 0.85rem;
  max-width: 340px;
}

.holder, .number, .cvc, .exp-date, .exp-date-cvc {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1px;
  margin-top: 1rem;
  text-transform: uppercase;
}
.holder__label, .number__label, .cvc__label, .exp-date__label, .exp-date-cvc__label {
  font-size: 0.7rem;
}
.holder__input, .number__input, .cvc__input, .exp-date__input, .exp-date-cvc__input {
  font-size: 0.8rem;
  color: hsl(279, 6%, 55%);
  border: 1px solid hsl(270, 3%, 87%);
  padding: 0.75rem;
  border-radius: 0.5rem;
  outline: none;
  transition: all 0.15s linear;
}
.holder__input:focus, .holder__input:focus-visible, .holder__input:focus-within, .holder__input:active, .number__input:focus, .number__input:focus-visible, .number__input:focus-within, .number__input:active, .cvc__input:focus, .cvc__input:focus-visible, .cvc__input:focus-within, .cvc__input:active, .exp-date__input:focus, .exp-date__input:focus-visible, .exp-date__input:focus-within, .exp-date__input:active, .exp-date-cvc__input:focus, .exp-date-cvc__input:focus-visible, .exp-date-cvc__input:focus-within, .exp-date-cvc__input:active {
  cursor: pointer;
  border: 1px solid transparent;
  border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-image-slice: 1;
}
.holder__input:hover, .number__input:hover, .cvc__input:hover, .exp-date__input:hover, .exp-date-cvc__input:hover {
  cursor: pointer;
  border: 1px solid;
  border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-color: transparent;
  border-image-slice: 1;
  border-radius: 0.5rem;
  transition: all 0.15s linear;
}

.exp-date-cvc {
  display: grid;
}

.exp-date {
  display: grid;
  grid-column: 1;
}
.exp-date__label {
  grid-column: span 2;
}
.exp-date__input {
  width: 3rem;
  font-size: 0.8rem;
}

.cvc {
  grid-column: 2;
}
.cvc__label {
  grid-column: span 2/3;
}
.exp-date-mm {
  grid-column: 1;
}

.exp-date-yy {
  grid-column: 2;
}

@media (min-width: 1020px) {
  .form {
    zoom: 1.2;
  }
}
.btn {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.35rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  margin-top: 2rem;
  font-size: 1rem;
}

.completed {
  display: none;
  width: 290px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  text-align: center;
}
.completed__img {
  width: 80px;
  height: 80px;
}
.completed__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  margin-top: 0.5rem;
}
.completed__subtitle {
  color: hsl(279, 6%, 55%);
  font-weight: 400;
  font-size: 1rem;
}
@media (min-width: 1020px) {
  .completed {
    zoom: 1.2;
  }
}
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}

@media (min-width: 1020px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }
}
.wrapper {
  display: grid;
  place-content: center;
  width: 100%;
  background-image: url(../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 2.5rem;
}

@media (min-width: 1020px) {
  .wrapper {
    display: block;
    background-image: url(../images/bg-main-desktop.png);
    background-position: left;
    background-size: contain;
  }
}
.error {
  text-transform: capitalize;
  font-size: 0.7rem;
  color: hsl(0, 100%, 66%);
  display: none;
}