.container {
	position: relative;
	width: 100%;
	overflow: hidden;
	// max-width: 420px;
	padding: 1rem;
}



@media (min-width: 1020px) {
	.container {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 100vh;
	}
}