.wrapper {
	display: grid;
	place-content: center;
	width: 100%;
	// height: 100vh;
	background-image: url(../images/bg-main-mobile.png);
  	background-repeat: no-repeat;
	background-position: top;
	padding-bottom: 2.5rem;
}

@media (min-width: 1020px) {
	.wrapper {
		display: block;
		background-image: url(../images/bg-main-desktop.png);
		background-position: left;
		background-size: contain;
	}
}